/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* asterix is wildcard selector to override default styles*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Lato', sans-serif;

}
/* header */
header {
    background-color: #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}
h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    
}
header a {
    text-decoration: none;
    color: inherit;
}
/* navbar styles */
nav {
    position: absolute;
    background-color: #3a3a3a;
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 4px;
    color: #fff;
    width: 100%;
    list-style-type: none;
    left: 0;
   
}
#nav{
    margin-bottom: 1em;
}
/* main */
main {
    background-color: #ffff;
    /* make main take up any extra space to push the footer to the bottom */
    flex: 1 0 auto;
    color: #3a3a3a;
    
}
/* footer */
footer { 
    background-color: #3a3a3a;
}